html{
    font-size: 62.5%; /* 62.5 * 16px = 10px = 1rem */
    box-sizing: border-box;
}
body{
    font: 1.6rem Helvetica;
    height: 100vh;
    margin: 0;
}

.grid-container{
    display: grid;
    grid-template-areas:
            "header"
            "main"
            "footer";
    grid-template-columns: 1fr;
    grid-template-rows: 5rem 1fr 5rem;
    height: 100%;
}

.header{
    grid-area: header;
    background-color: darkblue;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.brand a{
    color: #ffffff;
    font-size: 2.5rem;
    text-decoration: none;
    text-underline: none;
    padding:0.5rem;
}

.header-links a{
    color: #ffffff;
    text-decoration: none;
    text-underline: none;
}

.header-links a:hover{
    color: coral;
}

.main{
    grid-area: main;
}

.footer{
    display: inline-flex;
    justify-content: center;
    grid-area: footer;
    background-color: darkblue;
    color: #ffffff;
    align-items: center;
}

.footer a{
    color: #ffffff;
    text-decoration: none;
    text-underline: none;
    padding: 10px;
}

.footer a:hover{
    color: coral;
}